.comunitySection {
  padding: 20px;
  margin-bottom: 100px;
}

.buttonBox {
  padding-inline: 10px;
  button {
    border-style: none;
    background: black;
    border-radius: 10px;
    border: 2px solid #0ad8c9;
    width: 195px;
    height: 63px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    background: #0ad8c9;
    color: black;
  }
}
.buttonBox .is-button-active {
  background: #0ad8c9;
  color: black;
}

.comunityContentsBox {
  border: 2px solid #0ad8c9;
  border-radius: 20px;
  padding: 30px;
}

.comunityContents {
  background-color: #2c2c2c;
  border: 1.5px solid #16ffc0;
  border-radius: 10px;
  height: 66.16px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  cursor: pointer;
}

.postTag {
  font-size: 14px;
  padding-inline: 10px;
}

.postTitle {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 8;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-inline-end: 20px;

  &:hover {
    color: #0ad8c9;
  }
}

.createdDate {
  font-size: 14px;
}
