.ranking-section {
  padding: 20px;
  margin-bottom: 30px;
}

.ranking-header {
  display: flex;
  padding-block: 10px;
  span {
    padding-block: 10px;
  }
  .label {
    margin-left: 10px;
    flex-grow: 5;
    font-size: 20px;
    font-weight: bolder;
  }
  .updated-date {
    font-size: 16px;
  }
}

.ranking-contents-box {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.ranking-contents {
  h3 {
    color: #0ad8c9;
    font-size: 20px;
    padding-block: 10px;
  }
}
.ranking-items {
  display: flex;
  width: 393px;
  height: 64.69px;
  border-radius: 20px;
  border: 2px solid #0ad8c9;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  color: #7b7b7b;
}

.is-first {
  display: flex;
  width: 393px;
  height: 64.69px;
  border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #ffce2d;
  align-items: center;
  margin-bottom: 5px;
  gap: 20px;
  p {
    color: white;
  }
  span {
    color: #e24255;
  }
}
.user-info {
  display: flex;
  gap: 5px;
  align-items: center;
}
.user-img {
  width: 30px;
}
.ranking {
  padding-inline: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.nickname {
  width: 180px;
  padding-top: 5px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.medal-img {
  padding-top: 5px;
  width: 40px;
}
.ranking-rise {
  padding-top: 5px;
  color: #0ad8c9;
  position: relative;
}
.up-and-down-img {
  width: 20px;
  padding-bottom: 30px;
}

.rise-number {
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  left: 50%;
  top: 70%;
  translate: -50% -50%;
}
